<div class="container">
    <div class="row mt-5">
        <div class="col-auto">
            <button type="button" class="btn btn-primary position-relative">
                <i class="fas fa-bell"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{counter}}+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>
        </div>
        <div class="col-auto">
            <h1>Twitter</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto">
            <input [(ngModel)]="searchString" type="text" class="form-control" id="Search" placeholder="Search for a keyword.">
        </div>
        <div class="col-auto">
            <button [disabled]="searchKeywordPressed" (click)="searchKeyword()" type="button" class="btn btn-primary mb-3">Search</button>
        </div>
    </div>
    <div *ngFor="let tweet of tweetList;let i=index" class="row pt-2 pb-4">
        <div class="col">
            <div class="card">
                <h5 class="card-header">{{tweet.author_name}} <small>@{{tweet.author_username}}</small></h5>
                <div class="card-body">
                    <h5 class="card-title">{{tweet.text}}</h5>
                    <p class="card-text">{{tweet.updatedAt | date:'medium'}}</p>
                    <a class="btn btn-primary mt-3" [href]="'https://twitter.com/'+tweet.author_username+'/status/'+tweet.tweetId" target="__blank">
                        <i class="fab fa-twitter"></i> Go To Tweet    
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 text-center">
        <div class="col-md-12">
            <button (click)="loadMore()" [disabled]='loadMorePressed' type="button" class="btn btn-primary mb-3 text-center">Load More</button>
        </div>
    </div>
</div>